$header-height: 64px;
$toolbar-height: 40px;
$formula-height: 24px;
$formula-info-width: 80px;
$row-height: 21px;
$row-info-width: 46px;
$cell-width: 100px;

$page-bg-color: #fff;
$text-color: #333;
$border-color: #d9d9d9;
$button-bg-color: #f2f2f2;
$selection-color: #1a73e8;
$active-color: #188038;
$row-info-color: #f9f9fa;
$cell-border-color: #e6e6e6;
$shadow-color: #999;
