@import 'vars';
@import 'mixins';

.spreadsheet__formula {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height;
  height: $formula-height;
  border-bottom: 1px solid $label-border-color;

  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 4px 8px;

    .formula {
      &__info {
        display: flex;
        align-items: center;
        min-width: $formula-info-width;
        height: 100%;
        padding-right: 8px;
        font-size: 13px;
        text-align: left;
        color: $text-color;
      }
      &__label {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-style: italic;
        font-weight: 500;
        text-align: center;
        padding: 0 8px;
        color: rgba($text-color, 0.3);
      }
      &__input {
        display: flex;
        align-items: center;
        padding-left: 8px;
        font-size: 13px;
        text-align: left;
        outline: none;
        width: 100%;
        height: 100%;
        color: $text-color;
      }
    }

    .divider {
      @include divider(17px);
    }
  }
}
