@import 'vars';
@import 'mixins';

.spreadsheet__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;

  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 4px 8px;

    .control-panel {
      display: flex;
      align-items: center;
      margin: 4px 8px 4px auto;

      .button {
        @include button($active-color, 32px, 24px);
      }
    }
  }

  .title-input {
    max-width: 240px;
    width: 100%;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: $text-color;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;

    &:hover {
      border-color: $border-color;
    }

    &:focus {
      border: 2px solid $selection-color;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    min-height: 48px;
    cursor: pointer;
    margin: 4px 8px;

    &:active {
      border-radius: 50%;
      background-color: $button-bg-color;
    }
  }
}
