@import 'vars';
@import 'mixins';

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  user-select: none;

  .row {
    display: flex;
    position: relative;
    min-height: $row-height;

    &__info {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: $row-info-width;
      border-right: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      background-color: $row-info-color;
      color: rgba($text-color, 0.7);
      font-size: 11px;
      font-weight: 500;
    }

    &__data {
      display: flex;
    }

    &__resize {
      position: absolute;
      right: 0;
      left: 0;
      bottom: -5px;
      z-index: 1000;
      border-top: 5px solid $selection-color;
      height: 10px;
      opacity: 0;
      max-width: $row-info-width;
      cursor: ns-resize;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 1;
      }

      &:active + .row__resize-line {
        opacity: 1;
      }

      &-line {
        position: absolute;
        content: '';
        right: 0;
        left: 0;
        bottom: 2px;
        z-index: 1000;
        height: 1px;
        opacity: 0;
        background-color: $selection-color;
      }
    }
  }

  .column {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: $cell-width;
    min-width: $row-height;
    height: 100%;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: $row-info-color;
    color: rgba($text-color, 0.7);
    font-size: 11px;
    font-weight: 500;
    cursor: default;

    &__resize {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -5px;
      z-index: 1000;
      border-left: 5px solid $selection-color;
      width: 10px;
      cursor: ew-resize;
      opacity: 0;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 1;
      }

      &:active + .column__resize-line {
        opacity: 1;
      }

      &-line {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        right: 2px;
        z-index: 1000;
        width: 1px;
        opacity: 0;
        background-color: $selection-color;
      }
    }
  }

  .cell {
    width: $cell-width;
    min-width: $row-height;
    height: 100%;
    padding: 4px;
    border-right: 1px solid $cell-border-color;
    border-bottom: 1px solid $cell-border-color;
    white-space: nowrap;
    outline: none;

    &--selected {
      border: 2px solid $selection-color;
    }
  }
}
