@import 'vars';
@import 'mixins';

.spreadsheet__toolbar {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  height: $toolbar-height;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  &__inner {
    display: flex;
    align-items: center;
    margin-left: 16px;
    padding: 4px 8px;
    height: 100%;

    .edit-tool {
      display: flex;
      align-items: center;
      position: relative;
      font-weight: 500;

      &--align {
        display: flex;
        align-items: center;
        position: absolute;
        top: 24px;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        padding: 8px 4px;
        background-color: $page-bg-color;
        border-radius: 4px;
        box-shadow: 0 4px 16px -4px $shadow-color;
        font-weight: 500;

        &.active {
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    .divider {
      @include divider(20px);
    }

    .button {
      @include button($active-color, 24px, 22px);

      &--align {
        @include button($active-color, 24px, 18px);
      }
    }
  }
}
